body {
    background-color: #29093f;
}

.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}
.text-shadow {
    text-shadow: 0 0 50px #9218aa;
}
